* {
    margin: 0;
    padding: 0;
    font-family: nunito;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar-nav .nav-link.active {
    color: #152536;
}

.portada {
    background-color: #F8D7DA;
}

.portada__img {
    padding: 0px;
}

.texto-portada {
    padding: 4%;
}

.portada__titular {
    font-weight: 800;
    color: #152536;
    font-size: 3rem;
}

.btn_portada {
    background-color: #152536;
    color: white;
}

.btn_portada:hover {
    background-color: white;
    border: #152536 2px solid;
    color: #152536;
}

.card__perfil {
    background-color: #F9F2F1;
    border: 0;
    padding: 0;
}

.card__perfil:hover {
    transform: scale(1.03);
    transition-duration: 500ms;

}

.slide-top {
    -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.card__descripcion {
    color: #6C757D;
}

.btn_ver_perfil {
    background-color: #FFDAD9;
    border: 0;
    color: #400008;

}

.btn_ver_perfil:hover {
    background-color: #F1AEB5;
    transform: scale(1.05);
    transition-duration: 200ms;
}

.footer {
    background-color: #152536;
    color: white;
}

.logo__footer {
    width: 120px;
}