.card__donaciones:hover {
    transform: scale(1.03);
    transition-duration: 500ms;
}

.datos_cuenta {
    font-weight: 800;
}

ul {
    padding-left: 0rem;

    .datos_cuenta {
        font-weight: 800;
    }
}