.portada {
    background-color: $color-secundario;

    .portada__img {
        padding: 0px;
    }

    .texto-portada {
        padding: 4%;

        .portada__titular {
            font-weight: 800;
            color: $color-primario;
            font-size: 3rem;
        }

        .btn_portada {
            background-color: $color-primario;
            color: white;
        }

        .btn_portada:hover {
            background-color: white;
            border: $color-primario 2px solid;
            color: $color-primario;
        }
    }
}