footer {
    background-color: $color-primario;
    color: white;

    .logo__footer {
        width: 120px;
    }

    .bi-instagram {
        color: white;
    }

    .bi-facebook {
        color: white;
    }

}